/* test  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bg {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.rows {
  background-color: #dedede;
  width: 30%;
  height: 400px;;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 10px;
  justify-content: center;
  align-items: center;
  /* z-index: 99; */
}

.s_row {
  background-color: #dedede;
  width: 30%;
  height: 400px;
  display: inline-block;
  position: relative;
  left: 10px;
  top: 30px;
  margin-bottom: 80px;
  /* z-index: 99; */
}


.discg {
  background-color: green;
  width: 28px;
  height: 18px;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}


.i_bk {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 8%;
  display: block;
}

.i_bk2 {
  margin: auto;
  position: relative;
  display: inline-block;
  width: 50%;
  top: 20%;
  display: block;
}

.i_bk4 {
  position: relative;
  display: inline-block;
  width: 100%;
  top: 30%;
  left: 5%;
  display: block;
}

.i_bk5 {
  position: relative;
  display: inline-block;
  width: 80%;
  left: 1%;
  top: 5%;
  display: block;
}

.i_bk6 {
  position: relative;
  display: inline-block;
  width: 70%;
  left: 15%;
  top: 15%;
  display: block;
}

.discr{
  background-color: red;
  width: 27px;
  height: 18px;
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

.heart{
  position: absolute;
  bottom: 0;
  left: 50%

}

.heart{
  display: none;
  color: red;
}

/* per eseguire l'hover! */
.rows:hover .heart{
  display: block;
}

.s_row:hover .heart{
  display: block;
}
